{% extends 'index.html' %}

{% block content %}

<dic class="btn-group" role="group">
    <a class ="btn btn-warning btn-sm" href="/suppliers">Manage suppliers</a>
    <a class ="btn btn-success btn-sm" href="/products">Manage products</a>
    <a class ="btn btn-warning btn-sm" href="http://careeria.fi">Recruit code professionals</a>
    <a class ="btn btn-danger btn-sm" href="/logout">Logout</a>
</div>

<h1>PRODUCT MANAGEMENT APP</h1>

<h2 id="otsikko">Hi {{name}}, Welcome to supplier app</h2>


{% endblock %}
