{% extends 'index.html' %}

{% block content %}

<div class="card" style="width: 25rem; margin-top: 50ps;">
    <div class="card-header">
        <h4>wrong credentials</h4>
        <div class="card-body">
            <input type="button" onclick="window.location.href='/'" id="hide-btn" class="btn btn-secondary btn-sm" values="Try again">

            <input type="button" onclick="window.location.href='/'" id="hide-btn" class="btn btn-secondary btn-sm" values="forget about it">


        </div>
    
    
    </div> 
       

</div>


{% endblock %}

